{% macro branch(tree, path) %}
    <ul>
    {% for key, resource in tree %}
        {% if(resource ) is iterable %}
            {% set currentPath = path ~ '/' ~ key %}
            <li id="{{ currentPath }}">
                {{ key }}
                {{ _self.branch(resource, currentPath) }}
            </li>
        {% else %}
            <li id="{{ path ~ '/' ~ resource.name }}" data-jstree='{"icon":"{{ resource.iconPath }}"}'
                data-name="{{ resource.name }}" data-path="{{ resource.path }}" data-thumbnail="{{ resource.thumbnailPath }}">
                {{ resource.name }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}